body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}
h1 {
  font-size: 70pt;
  margin: auto;
  text-shadow: 2px 1px 1px #E36464;
}
h3 {
  font-size: 30pt;
  margin: auto;
}
h2 {
  font-size: 65pt;
  margin: auto;
}
#navigationPrincipale {
  position: absolute;
  margin-right: 0px;
  width: 100%;
  z-index: 9999;
}
#navigationPrincipale ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
#navigationPrincipale li {
  float: right;
  margin-right: 1px;
  border-bottom: 2px solid #000;
  margin: 5px;
}
#navigationPrincipale li a {
  display: block;
  min-width: 140px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}
#entete {
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: top-left;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  clear: both;
  display: flex;
  justify-content: space-around;
}
.nom {
  top: 0;
  width: 100%;
  height: 20%;
  z-index: 999;
  text-align: right;
  margin-right: 0;
  margin-top: 10%;
  position: absolute;
}
#portfolio {
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
}
#conteneurProjet {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#conteneurProjet > div {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#conteneurProjet img {
  width: 800px;
}
.overItemPortfolio {
  height: 300px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  margin: 0 auto;
  text-align: center;
}
.overItemPortfolio li:first-child {
  margin-top: 100px;
}
.overItemPortfolio li {
  margin-bottom: 25px;
  height: 50px;
}
.zoom,
.www {
  border: 2px solid #3d3d3d;
  border-radius: 3px;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  text-decoration: none;
  /*position: relative;
    text-align: center;*/
}
.quote {
  text-align: center;
}
.sectionTitre {
  text-align: center;
}
#competence {
  width: 100vw;
  height: 90vh;
  background-color: #f2f2f2;
  padding-top: 30px;
}
#joindre {
  width: 100vw;
  height: 90vh;
  background-color: #3d3d3d;
  padding-top: 30px;
}
#joindre h2,
#joindre h3 {
  color: #fff;
}
